.details {
  background-image: linear-gradient(-119deg, #FCEC6F 9%, #FEDF60 84%);
  overflow: hidden;
  &__information {
    padding-top: 80px;
    padding-bottom: 50px;
    float: left;
    max-width: 70%;
    &__text {
      width: 85%;
    }
  }
  &__image-container {
    display: inline-block;
    float: right;
    max-width: 29%;
    &__image {
      max-width: 150%;
      padding-top: 60px;
    }
  }
}
