.e-text-field {
  font-size: $small;
  color: rgba($darkGray, 0.8);
  padding: 18px 20px;
  min-width: 300px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.11);
  border: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba($darkGray, 0.1);
    font-style: italic;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba($darkGray, 0.1);
    font-style: italic;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba($darkGray, 0.1);
    font-style: italic;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: rgba($darkGray, 0.1);
    font-style: italic;
  }
  &:focus {
    outline: none;
    border: 2px solid $primary;
  }
}
