$xSmall: 16px;
$small: 20px;
$normal: 24px;
$large: 30px;
$mega: 40px;
$light: 200;
$regular: 300;
$semi-bold: 600;
$bold: 700;
.header1 {
  font-size: $mega;
  font-weight: $bold;
  margin: 0;
}

.header2 {
  font-size: $large;
  font-weight: $semi-bold;
  margin: 0;
}

.header3 {
  font-size: $mega;
  margin: 0;
}

.normal-text {
  font-weight: $light;
  font-size: $normal;
  line-height: 1.4;
}

.strong-text {
  font-size: $large;
  font-weight: $bold;
}

.additional-information {
  font-size: $xSmall;
  font-weight: $semi-bold;
  opacity: 0.5
}
